/* For use in src/lib/core/theming/_palette.scss */
$mt-fuji-one: (
        50 : #e7e9eb,
        100 : #c4c9cd,
        200 : #9ca5ac,
        300 : #74808b,
        400 : #576572,
        500 : #394a59,
        600 : #334351,
        700 : #2c3a48,
        800 : #24323e,
        900 : #17222e,
        A100 : #71b4ff,
        A200 : #3e99ff,
        A400 : #0b7fff,
        A700 : #0072f1,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$mt-fuji-two: (
        50 : #fdf1e1,
        100 : #fbdbb4,
        200 : #f9c382,
        300 : #f6ab50,
        400 : #f4992b,
        500 : #f28705,
        600 : #f07f04,
        700 : #ee7404,
        800 : #ec6a03,
        900 : #e85701,
        A100 : #ffffff,
        A200 : #ffe7dc,
        A400 : #ffc4a9,
        A700 : #ffb290,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mt-fuji-three: (
        50 : #fdebe1,
        100 : #fbceb4,
        200 : #f9ae82,
        300 : #f68d50,
        400 : #f4742b,
        500 : #f25c05,
        600 : #f05404,
        700 : #ee4a04,
        800 : #ec4103,
        900 : #e83001,
        A100 : #ffffff,
        A200 : #ffe1dc,
        A400 : #ffb5a9,
        A700 : #ffa090,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mt-fuji-four: (
        50 : #fde1e1,
        100 : #fbb4b4,
        200 : #f98282,
        300 : #f65050,
        400 : #f42b2b,
        500 : #f20505,
        600 : #f00404,
        700 : #ee0404,
        800 : #ec0303,
        900 : #e80101,
        A100 : #ffffff,
        A200 : #ffdcdc,
        A400 : #ffa9a9,
        A700 : #ff9090,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mt-fuji-five: (
        50 : #f4e1e1,
        100 : #e4b3b3,
        200 : #d38181,
        300 : #c14f4f,
        400 : #b32929,
        500 : #a60303,
        600 : #9e0303,
        700 : #950202,
        800 : #8b0202,
        900 : #7b0101,
        A100 : #ffa8a8,
        A200 : #ff7575,
        A400 : #ff4242,
        A700 : #ff2929,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

/* For use in src/lib/core/theming/_palette.scss */
$base: (
        50 : #e8e8e8,
        100 : #c7c7c7,
        200 : #a1a1a1,
        300 : #7b7b7b,
        400 : #5f5f5f,
        500 : #434343,
        600 : #3d3d3d,
        700 : #343434,
        800 : #2c2c2c,
        900 : #1e1e1e,
        A100 : #f07878,
        A200 : #eb4a4a,
        A400 : #ff0303,
        A700 : #e90000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


