@use 'node_modules/@angular/material' as mat;
@use "../dist/material-themeable" as matTheme;
@import "mt-fuji";
@import "theme";

@include mat.core();

html,
body {
  margin: 0;
  padding: 0;
}

p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

@mixin set-mat-theme($theme, $extension-palettes: ()) {
  @include mat.core-theme($theme);
  @include matTheme.background-colors($theme, $extension-palettes);
}

body {
  background-color: cf-mat-background-color();
  color: cf-mat-text-color();

  font-family: Roboto, "Helvetica Neue", sans-serif;

  margin: $cf-size-reset;

  @include cf-mat-set-primary-link-colors();
  @include matTheme.layout();

  //&.key-lime-pie {
  //  @include set-mat-theme($keyLimePie);
  //}

  &.candy {
    $mt-fuji-one: mat.define-palette($mt-fuji-one);
    $mt-fuji-two: mat.define-palette($mt-fuji-two);
    $mt-fuji-three: mat.define-palette($mt-fuji-three);
    $mt-fuji-four: mat.define-palette($mt-fuji-four);
    $mt-fuji-five: mat.define-palette($mt-fuji-five);

    $extension: (
      mt-fuji-one: mat.define-palette($mt-fuji-one),
      mt-fuji-two: mat.define-palette($mt-fuji-two),
      mt-fuji-three: mat.define-palette($mt-fuji-three),
      mt-fuji-four: mat.define-palette($mt-fuji-four),
      mt-fuji-five: mat.define-palette($mt-fuji-five)
    );

    @include set-mat-theme($candy, $extension);
  }

  //&.peppermint {
  //  @include set-mat-theme($peppermint);
  //}
  //
  //&.brite-bomb {
  //  @include set-mat-theme($briteBomb);
  //}

}

a,
a:visited,
a:active {
  color: cf-mat-text-color();
  text-decoration: none;
}

a:hover {
  color: cf-mat-color-primary(100);
}

// global material overrides
//.mat-button-base {
//  transition: color _cf-animation-transition(), background-color _cf-animation-transition();
//
//  .mat-ripple {
//    transition: unset;
//  }
//}

//.mat-toolbar {
//  transition: color _cf-animation-transition(), background-color _cf-animation-transition();
//
//  .mat-button-base {
//    transition: unset;
//  }
//}
