<app-demo-section title="Colors & Hues" [warnings]="warnings" [infos]="info">
  <div>
    <div class="wrapper">
      <div class="content">
        <header matThemeable padding="standard">
          <h3>Base</h3>
        </header>
        <ul>
          <li matThemeable color="base" padding="small" verticalMargin="very-small">color="base"</li>
          <li matThemeable color="base" hue="lighter" padding="small" verticalMargin="very-small">color="base" hue="lighter"</li>
          <li matThemeable color="base" hue="default" padding="small" verticalMargin="very-small">color="base" hue="default"</li>
          <li matThemeable color="base" hue="darker" padding="small" verticalMargin="very-small">color="base" hue="darker"</li>
        </ul>
        <p matThemeable padding="small">Hue is not available on the base color so any hue passed will be ignored</p>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>Primary</h3>
        </header>
        <ul>
          <li matThemeable color="primary" padding="small" verticalMargin="very-small">color="primary"</li>
          <li matThemeable color="primary" hue="lighter" padding="small" verticalMargin="very-small">color="primary" hue="lighter"</li>
          <li matThemeable color="primary" hue="default" padding="small" verticalMargin="very-small">color="primary" hue="default"</li>
          <li matThemeable color="primary" hue="darker" padding="small" verticalMargin="very-small">color="primary" hue="darker"</li>
          <li matThemeable color="primary" hue="50" padding="small" verticalMargin="very-small">color="primary" hue="50"</li>
          <li matThemeable color="primary" hue="100" padding="small" verticalMargin="very-small">color="primary" hue="100"</li>
          <li matThemeable color="primary" hue="200" padding="small" verticalMargin="very-small">color="primary" hue="200"</li>
          <li matThemeable color="primary" hue="300" padding="small" verticalMargin="very-small">color="primary" hue="300"</li>
          <li matThemeable color="primary" hue="400" padding="small" verticalMargin="very-small">color="primary" hue="400"</li>
          <li matThemeable color="primary" hue="500" padding="small" verticalMargin="very-small">color="primary" hue="500"</li>
          <li matThemeable color="primary" hue="600" padding="small" verticalMargin="very-small">color="primary" hue="600"</li>
          <li matThemeable color="primary" hue="700" padding="small" verticalMargin="very-small">color="primary" hue="700"</li>
          <li matThemeable color="primary" hue="800" padding="small" verticalMargin="very-small">color="primary" hue="800"</li>
          <li matThemeable color="primary" hue="900" padding="small" verticalMargin="very-small">color="primary" hue="900"</li>
          <li matThemeable color="primary" hue="A100" padding="small" verticalMargin="very-small">color="primary" hue="A100"</li>
          <li matThemeable color="primary" hue="A200" padding="small" verticalMargin="very-small">color="primary" hue="A200"</li>
          <li matThemeable color="primary" hue="A400" padding="small" verticalMargin="very-small">color="primary" hue="A400"</li>
          <li matThemeable color="primary" hue="A700" padding="small" verticalMargin="very-small">color="primary" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>Accent</h3>
        </header>
        <ul>
          <li matThemeable color="accent" padding="small" verticalMargin="very-small">color="accent"</li>
          <li matThemeable color="accent" hue="lighter" padding="small" verticalMargin="very-small">color="accent" hue="lighter"</li>
          <li matThemeable color="accent" hue="default" padding="small" verticalMargin="very-small">color="accent" hue="default"</li>
          <li matThemeable color="accent" hue="darker" padding="small" verticalMargin="very-small">color="accent" hue="darker"</li>
          <li matThemeable color="accent" hue="50" padding="small" verticalMargin="very-small">color="accent" hue="50"</li>
          <li matThemeable color="accent" hue="100" padding="small" verticalMargin="very-small">color="accent" hue="100"</li>
          <li matThemeable color="accent" hue="200" padding="small" verticalMargin="very-small">color="accent" hue="200"</li>
          <li matThemeable color="accent" hue="300" padding="small" verticalMargin="very-small">color="accent" hue="300"</li>
          <li matThemeable color="accent" hue="400" padding="small" verticalMargin="very-small">color="accent" hue="400"</li>
          <li matThemeable color="accent" hue="500" padding="small" verticalMargin="very-small">color="accent" hue="500"</li>
          <li matThemeable color="accent" hue="600" padding="small" verticalMargin="very-small">color="accent" hue="600"</li>
          <li matThemeable color="accent" hue="700" padding="small" verticalMargin="very-small">color="accent" hue="700"</li>
          <li matThemeable color="accent" hue="800" padding="small" verticalMargin="very-small">color="accent" hue="800"</li>
          <li matThemeable color="accent" hue="900" padding="small" verticalMargin="very-small">color="accent" hue="900"</li>
          <li matThemeable color="accent" hue="A100" padding="small" verticalMargin="very-small">color="accent" hue="A100"</li>
          <li matThemeable color="accent" hue="A200" padding="small" verticalMargin="very-small">color="accent" hue="A200"</li>
          <li matThemeable color="accent" hue="A400" padding="small" verticalMargin="very-small">color="accent" hue="A400"</li>
          <li matThemeable color="accent" hue="A700" padding="small" verticalMargin="very-small">color="accent" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>Warn</h3>
        </header>
        <ul>
          <li matThemeable color="warn" padding="small" verticalMargin="very-small">color="warn"</li>
          <li matThemeable color="warn" hue="lighter" padding="small" verticalMargin="very-small">color="warn" hue="lighter"</li>
          <li matThemeable color="warn" hue="default" padding="small" verticalMargin="very-small">color="warn" hue="default"</li>
          <li matThemeable color="warn" hue="darker" padding="small" verticalMargin="very-small">color="warn" hue="darker"</li>
          <li matThemeable color="warn" hue="50" padding="small" verticalMargin="very-small">color="warn" hue="50"</li>
          <li matThemeable color="warn" hue="100" padding="small" verticalMargin="very-small">color="warn" hue="100"</li>
          <li matThemeable color="warn" hue="200" padding="small" verticalMargin="very-small">color="warn" hue="200"</li>
          <li matThemeable color="warn" hue="300" padding="small" verticalMargin="very-small">color="warn" hue="300"</li>
          <li matThemeable color="warn" hue="400" padding="small" verticalMargin="very-small">color="warn" hue="400"</li>
          <li matThemeable color="warn" hue="500" padding="small" verticalMargin="very-small">color="warn" hue="500"</li>
          <li matThemeable color="warn" hue="600" padding="small" verticalMargin="very-small">color="warn" hue="600"</li>
          <li matThemeable color="warn" hue="700" padding="small" verticalMargin="very-small">color="warn" hue="700"</li>
          <li matThemeable color="warn" hue="800" padding="small" verticalMargin="very-small">color="warn" hue="800"</li>
          <li matThemeable color="warn" hue="900" padding="small" verticalMargin="very-small">color="warn" hue="900"</li>
          <li matThemeable color="warn" hue="A100" padding="small" verticalMargin="very-small">color="warn" hue="A100"</li>
          <li matThemeable color="warn" hue="A200" padding="small" verticalMargin="very-small">color="warn" hue="A200"</li>
          <li matThemeable color="warn" hue="A400" padding="small" verticalMargin="very-small">color="warn" hue="A400"</li>
          <li matThemeable color="warn" hue="A700" padding="small" verticalMargin="very-small">color="warn" hue="A700"</li>
        </ul>
      </div>
    </div>
    <div class="wrapper">
      <div class="content">
        <header matThemeable padding="standard">
          <h3>mt-fuji-one</h3>
        </header>
        <ul>
          <li matThemeable color="mt-fuji-one" padding="small" verticalMargin="very-small">color="mt-fuji-one"</li>
          <li matThemeable color="mt-fuji-one" hue="lighter" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="lighter"</li>
          <li matThemeable color="mt-fuji-one" hue="default" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="default"</li>
          <li matThemeable color="mt-fuji-one" hue="darker" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="darker"</li>
          <li matThemeable color="mt-fuji-one" hue="50" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="50"</li>
          <li matThemeable color="mt-fuji-one" hue="100" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="100"</li>
          <li matThemeable color="mt-fuji-one" hue="200" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="200"</li>
          <li matThemeable color="mt-fuji-one" hue="300" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="300"</li>
          <li matThemeable color="mt-fuji-one" hue="400" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="400"</li>
          <li matThemeable color="mt-fuji-one" hue="500" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="500"</li>
          <li matThemeable color="mt-fuji-one" hue="600" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="600"</li>
          <li matThemeable color="mt-fuji-one" hue="700" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="700"</li>
          <li matThemeable color="mt-fuji-one" hue="800" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="800"</li>
          <li matThemeable color="mt-fuji-one" hue="900" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="900"</li>
          <li matThemeable color="mt-fuji-one" hue="A100" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="A100"</li>
          <li matThemeable color="mt-fuji-one" hue="A200" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="A200"</li>
          <li matThemeable color="mt-fuji-one" hue="A400" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="A400"</li>
          <li matThemeable color="mt-fuji-one" hue="A700" padding="small" verticalMargin="very-small">color="mt-fuji-one" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>mt-fuji-two</h3>
        </header>
        <ul>
          <li matThemeable color="mt-fuji-two" padding="small" verticalMargin="very-small">color="mt-fuji-two"</li>
          <li matThemeable color="mt-fuji-two" hue="lighter" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="lighter"</li>
          <li matThemeable color="mt-fuji-two" hue="default" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="default"</li>
          <li matThemeable color="mt-fuji-two" hue="darker" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="darker"</li>
          <li matThemeable color="mt-fuji-two" hue="50" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="50"</li>
          <li matThemeable color="mt-fuji-two" hue="100" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="100"</li>
          <li matThemeable color="mt-fuji-two" hue="200" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="200"</li>
          <li matThemeable color="mt-fuji-two" hue="300" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="300"</li>
          <li matThemeable color="mt-fuji-two" hue="400" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="400"</li>
          <li matThemeable color="mt-fuji-two" hue="500" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="500"</li>
          <li matThemeable color="mt-fuji-two" hue="600" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="600"</li>
          <li matThemeable color="mt-fuji-two" hue="700" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="700"</li>
          <li matThemeable color="mt-fuji-two" hue="800" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="800"</li>
          <li matThemeable color="mt-fuji-two" hue="900" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="900"</li>
          <li matThemeable color="mt-fuji-two" hue="A100" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="A100"</li>
          <li matThemeable color="mt-fuji-two" hue="A200" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="A200"</li>
          <li matThemeable color="mt-fuji-two" hue="A400" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="A400"</li>
          <li matThemeable color="mt-fuji-two" hue="A700" padding="small" verticalMargin="very-small">color="mt-fuji-two" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>mt-fuji-three</h3>
        </header>
        <ul>
          <li matThemeable color="mt-fuji-three" padding="small" verticalMargin="very-small">color="mt-fuji-three"</li>
          <li matThemeable color="mt-fuji-three" hue="lighter" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="lighter"</li>
          <li matThemeable color="mt-fuji-three" hue="default" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="default"</li>
          <li matThemeable color="mt-fuji-three" hue="darker" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="darker"</li>
          <li matThemeable color="mt-fuji-three" hue="50" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="50"</li>
          <li matThemeable color="mt-fuji-three" hue="100" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="100"</li>
          <li matThemeable color="mt-fuji-three" hue="200" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="200"</li>
          <li matThemeable color="mt-fuji-three" hue="300" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="300"</li>
          <li matThemeable color="mt-fuji-three" hue="400" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="400"</li>
          <li matThemeable color="mt-fuji-three" hue="500" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="500"</li>
          <li matThemeable color="mt-fuji-three" hue="600" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="600"</li>
          <li matThemeable color="mt-fuji-three" hue="700" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="700"</li>
          <li matThemeable color="mt-fuji-three" hue="800" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="800"</li>
          <li matThemeable color="mt-fuji-three" hue="900" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="900"</li>
          <li matThemeable color="mt-fuji-three" hue="A100" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="A100"</li>
          <li matThemeable color="mt-fuji-three" hue="A200" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="A200"</li>
          <li matThemeable color="mt-fuji-three" hue="A400" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="A400"</li>
          <li matThemeable color="mt-fuji-three" hue="A700" padding="small" verticalMargin="very-small">color="mt-fuji-three" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>mt-fuji-four</h3>
        </header>
        <ul>
          <li matThemeable color="mt-fuji-four" padding="small" verticalMargin="very-small">color="mt-fuji-four"</li>
          <li matThemeable color="mt-fuji-four" hue="lighter" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="lighter"</li>
          <li matThemeable color="mt-fuji-four" hue="default" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="default"</li>
          <li matThemeable color="mt-fuji-four" hue="darker" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="darker"</li>
          <li matThemeable color="mt-fuji-four" hue="50" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="50"</li>
          <li matThemeable color="mt-fuji-four" hue="100" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="100"</li>
          <li matThemeable color="mt-fuji-four" hue="200" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="200"</li>
          <li matThemeable color="mt-fuji-four" hue="300" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="300"</li>
          <li matThemeable color="mt-fuji-four" hue="400" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="400"</li>
          <li matThemeable color="mt-fuji-four" hue="500" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="500"</li>
          <li matThemeable color="mt-fuji-four" hue="600" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="600"</li>
          <li matThemeable color="mt-fuji-four" hue="700" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="700"</li>
          <li matThemeable color="mt-fuji-four" hue="800" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="800"</li>
          <li matThemeable color="mt-fuji-four" hue="900" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="900"</li>
          <li matThemeable color="mt-fuji-four" hue="A100" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="A100"</li>
          <li matThemeable color="mt-fuji-four" hue="A200" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="A200"</li>
          <li matThemeable color="mt-fuji-four" hue="A400" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="A400"</li>
          <li matThemeable color="mt-fuji-four" hue="A700" padding="small" verticalMargin="very-small">color="mt-fuji-four" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>mt-fuji-five</h3>
        </header>
        <ul>
          <li matThemeable color="mt-fuji-five" padding="small" verticalMargin="very-small">color="mt-fuji-five"</li>
          <li matThemeable color="mt-fuji-five" hue="lighter" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="lighter"</li>
          <li matThemeable color="mt-fuji-five" hue="default" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="default"</li>
          <li matThemeable color="mt-fuji-five" hue="darker" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="darker"</li>
          <li matThemeable color="mt-fuji-five" hue="50" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="50"</li>
          <li matThemeable color="mt-fuji-five" hue="100" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="100"</li>
          <li matThemeable color="mt-fuji-five" hue="200" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="200"</li>
          <li matThemeable color="mt-fuji-five" hue="300" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="300"</li>
          <li matThemeable color="mt-fuji-five" hue="400" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="400"</li>
          <li matThemeable color="mt-fuji-five" hue="500" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="500"</li>
          <li matThemeable color="mt-fuji-five" hue="600" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="600"</li>
          <li matThemeable color="mt-fuji-five" hue="700" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="700"</li>
          <li matThemeable color="mt-fuji-five" hue="800" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="800"</li>
          <li matThemeable color="mt-fuji-five" hue="900" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="900"</li>
          <li matThemeable color="mt-fuji-five" hue="A100" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="A100"</li>
          <li matThemeable color="mt-fuji-five" hue="A200" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="A200"</li>
          <li matThemeable color="mt-fuji-five" hue="A400" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="A400"</li>
          <li matThemeable color="mt-fuji-five" hue="A700" padding="small" verticalMargin="very-small">color="mt-fuji-five" hue="A700"</li>
        </ul>
      </div>
    </div>
    <div class="wrapper">
      <div class="content">
        <header matThemeable padding="standard">
          <h3>balloons-one</h3>
        </header>
        <ul>
          <li matThemeable color="balloons-one" padding="small" verticalMargin="very-small">color="balloons-one"</li>
          <li matThemeable color="balloons-one" hue="lighter" padding="small" verticalMargin="very-small">color="balloons-one" hue="lighter"</li>
          <li matThemeable color="balloons-one" hue="default" padding="small" verticalMargin="very-small">color="balloons-one" hue="default"</li>
          <li matThemeable color="balloons-one" hue="darker" padding="small" verticalMargin="very-small">color="balloons-one" hue="darker"</li>
          <li matThemeable color="balloons-one" hue="50" padding="small" verticalMargin="very-small">color="balloons-one" hue="50"</li>
          <li matThemeable color="balloons-one" hue="100" padding="small" verticalMargin="very-small">color="balloons-one" hue="100"</li>
          <li matThemeable color="balloons-one" hue="200" padding="small" verticalMargin="very-small">color="balloons-one" hue="200"</li>
          <li matThemeable color="balloons-one" hue="300" padding="small" verticalMargin="very-small">color="balloons-one" hue="300"</li>
          <li matThemeable color="balloons-one" hue="400" padding="small" verticalMargin="very-small">color="balloons-one" hue="400"</li>
          <li matThemeable color="balloons-one" hue="500" padding="small" verticalMargin="very-small">color="balloons-one" hue="500"</li>
          <li matThemeable color="balloons-one" hue="600" padding="small" verticalMargin="very-small">color="balloons-one" hue="600"</li>
          <li matThemeable color="balloons-one" hue="700" padding="small" verticalMargin="very-small">color="balloons-one" hue="700"</li>
          <li matThemeable color="balloons-one" hue="800" padding="small" verticalMargin="very-small">color="balloons-one" hue="800"</li>
          <li matThemeable color="balloons-one" hue="900" padding="small" verticalMargin="very-small">color="balloons-one" hue="900"</li>
          <li matThemeable color="balloons-one" hue="A100" padding="small" verticalMargin="very-small">color="balloons-one" hue="A100"</li>
          <li matThemeable color="balloons-one" hue="A200" padding="small" verticalMargin="very-small">color="balloons-one" hue="A200"</li>
          <li matThemeable color="balloons-one" hue="A400" padding="small" verticalMargin="very-small">color="balloons-one" hue="A400"</li>
          <li matThemeable color="balloons-one" hue="A700" padding="small" verticalMargin="very-small">color="balloons-one" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>balloons-two</h3>
        </header>
        <ul>
          <li matThemeable color="balloons-two" padding="small" verticalMargin="very-small">color="balloons-two"</li>
          <li matThemeable color="balloons-two" hue="lighter" padding="small" verticalMargin="very-small">color="balloons-two" hue="lighter"</li>
          <li matThemeable color="balloons-two" hue="default" padding="small" verticalMargin="very-small">color="balloons-two" hue="default"</li>
          <li matThemeable color="balloons-two" hue="darker" padding="small" verticalMargin="very-small">color="balloons-two" hue="darker"</li>
          <li matThemeable color="balloons-two" hue="50" padding="small" verticalMargin="very-small">color="balloons-two" hue="50"</li>
          <li matThemeable color="balloons-two" hue="100" padding="small" verticalMargin="very-small">color="balloons-two" hue="100"</li>
          <li matThemeable color="balloons-two" hue="200" padding="small" verticalMargin="very-small">color="balloons-two" hue="200"</li>
          <li matThemeable color="balloons-two" hue="300" padding="small" verticalMargin="very-small">color="balloons-two" hue="300"</li>
          <li matThemeable color="balloons-two" hue="400" padding="small" verticalMargin="very-small">color="balloons-two" hue="400"</li>
          <li matThemeable color="balloons-two" hue="500" padding="small" verticalMargin="very-small">color="balloons-two" hue="500"</li>
          <li matThemeable color="balloons-two" hue="600" padding="small" verticalMargin="very-small">color="balloons-two" hue="600"</li>
          <li matThemeable color="balloons-two" hue="700" padding="small" verticalMargin="very-small">color="balloons-two" hue="700"</li>
          <li matThemeable color="balloons-two" hue="800" padding="small" verticalMargin="very-small">color="balloons-two" hue="800"</li>
          <li matThemeable color="balloons-two" hue="900" padding="small" verticalMargin="very-small">color="balloons-two" hue="900"</li>
          <li matThemeable color="balloons-two" hue="A100" padding="small" verticalMargin="very-small">color="balloons-two" hue="A100"</li>
          <li matThemeable color="balloons-two" hue="A200" padding="small" verticalMargin="very-small">color="balloons-two" hue="A200"</li>
          <li matThemeable color="balloons-two" hue="A400" padding="small" verticalMargin="very-small">color="balloons-two" hue="A400"</li>
          <li matThemeable color="balloons-two" hue="A700" padding="small" verticalMargin="very-small">color="balloons-two" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>balloons-three</h3>
        </header>
        <ul>
          <li matThemeable color="balloons-three" padding="small" verticalMargin="very-small">color="balloons-three"</li>
          <li matThemeable color="balloons-three" hue="lighter" padding="small" verticalMargin="very-small">color="balloons-three" hue="lighter"</li>
          <li matThemeable color="balloons-three" hue="default" padding="small" verticalMargin="very-small">color="balloons-three" hue="default"</li>
          <li matThemeable color="balloons-three" hue="darker" padding="small" verticalMargin="very-small">color="balloons-three" hue="darker"</li>
          <li matThemeable color="balloons-three" hue="50" padding="small" verticalMargin="very-small">color="balloons-three" hue="50"</li>
          <li matThemeable color="balloons-three" hue="100" padding="small" verticalMargin="very-small">color="balloons-three" hue="100"</li>
          <li matThemeable color="balloons-three" hue="200" padding="small" verticalMargin="very-small">color="balloons-three" hue="200"</li>
          <li matThemeable color="balloons-three" hue="300" padding="small" verticalMargin="very-small">color="balloons-three" hue="300"</li>
          <li matThemeable color="balloons-three" hue="400" padding="small" verticalMargin="very-small">color="balloons-three" hue="400"</li>
          <li matThemeable color="balloons-three" hue="500" padding="small" verticalMargin="very-small">color="balloons-three" hue="500"</li>
          <li matThemeable color="balloons-three" hue="600" padding="small" verticalMargin="very-small">color="balloons-three" hue="600"</li>
          <li matThemeable color="balloons-three" hue="700" padding="small" verticalMargin="very-small">color="balloons-three" hue="700"</li>
          <li matThemeable color="balloons-three" hue="800" padding="small" verticalMargin="very-small">color="balloons-three" hue="800"</li>
          <li matThemeable color="balloons-three" hue="900" padding="small" verticalMargin="very-small">color="balloons-three" hue="900"</li>
          <li matThemeable color="balloons-three" hue="A100" padding="small" verticalMargin="very-small">color="balloons-three" hue="A100"</li>
          <li matThemeable color="balloons-three" hue="A200" padding="small" verticalMargin="very-small">color="balloons-three" hue="A200"</li>
          <li matThemeable color="balloons-three" hue="A400" padding="small" verticalMargin="very-small">color="balloons-three" hue="A400"</li>
          <li matThemeable color="balloons-three" hue="A700" padding="small" verticalMargin="very-small">color="balloons-three" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>balloons-four</h3>
        </header>
        <ul>
          <li matThemeable color="balloons-four" padding="small" verticalMargin="very-small">color="balloons-four"</li>
          <li matThemeable color="balloons-four" hue="lighter" padding="small" verticalMargin="very-small">color="balloons-four" hue="lighter"</li>
          <li matThemeable color="balloons-four" hue="default" padding="small" verticalMargin="very-small">color="balloons-four" hue="default"</li>
          <li matThemeable color="balloons-four" hue="darker" padding="small" verticalMargin="very-small">color="balloons-four" hue="darker"</li>
          <li matThemeable color="balloons-four" hue="50" padding="small" verticalMargin="very-small">color="balloons-four" hue="50"</li>
          <li matThemeable color="balloons-four" hue="100" padding="small" verticalMargin="very-small">color="balloons-four" hue="100"</li>
          <li matThemeable color="balloons-four" hue="200" padding="small" verticalMargin="very-small">color="balloons-four" hue="200"</li>
          <li matThemeable color="balloons-four" hue="300" padding="small" verticalMargin="very-small">color="balloons-four" hue="300"</li>
          <li matThemeable color="balloons-four" hue="400" padding="small" verticalMargin="very-small">color="balloons-four" hue="400"</li>
          <li matThemeable color="balloons-four" hue="500" padding="small" verticalMargin="very-small">color="balloons-four" hue="500"</li>
          <li matThemeable color="balloons-four" hue="600" padding="small" verticalMargin="very-small">color="balloons-four" hue="600"</li>
          <li matThemeable color="balloons-four" hue="700" padding="small" verticalMargin="very-small">color="balloons-four" hue="700"</li>
          <li matThemeable color="balloons-four" hue="800" padding="small" verticalMargin="very-small">color="balloons-four" hue="800"</li>
          <li matThemeable color="balloons-four" hue="900" padding="small" verticalMargin="very-small">color="balloons-four" hue="900"</li>
          <li matThemeable color="balloons-four" hue="A100" padding="small" verticalMargin="very-small">color="balloons-four" hue="A100"</li>
          <li matThemeable color="balloons-four" hue="A200" padding="small" verticalMargin="very-small">color="balloons-four" hue="A200"</li>
          <li matThemeable color="balloons-four" hue="A400" padding="small" verticalMargin="very-small">color="balloons-four" hue="A400"</li>
          <li matThemeable color="balloons-four" hue="A700" padding="small" verticalMargin="very-small">color="balloons-four" hue="A700"</li>
        </ul>
      </div>
      <div class="content">
        <header matThemeable padding="standard">
          <h3>balloons-five</h3>
        </header>
        <ul>
          <li matThemeable color="balloons-five" padding="small" verticalMargin="very-small">color="balloons-five"</li>
          <li matThemeable color="balloons-five" hue="lighter" padding="small" verticalMargin="very-small">color="balloons-five" hue="lighter"</li>
          <li matThemeable color="balloons-five" hue="default" padding="small" verticalMargin="very-small">color="balloons-five" hue="default"</li>
          <li matThemeable color="balloons-five" hue="darker" padding="small" verticalMargin="very-small">color="balloons-five" hue="darker"</li>
          <li matThemeable color="balloons-five" hue="50" padding="small" verticalMargin="very-small">color="balloons-five" hue="50"</li>
          <li matThemeable color="balloons-five" hue="100" padding="small" verticalMargin="very-small">color="balloons-five" hue="100"</li>
          <li matThemeable color="balloons-five" hue="200" padding="small" verticalMargin="very-small">color="balloons-five" hue="200"</li>
          <li matThemeable color="balloons-five" hue="300" padding="small" verticalMargin="very-small">color="balloons-five" hue="300"</li>
          <li matThemeable color="balloons-five" hue="400" padding="small" verticalMargin="very-small">color="balloons-five" hue="400"</li>
          <li matThemeable color="balloons-five" hue="500" padding="small" verticalMargin="very-small">color="balloons-five" hue="500"</li>
          <li matThemeable color="balloons-five" hue="600" padding="small" verticalMargin="very-small">color="balloons-five" hue="600"</li>
          <li matThemeable color="balloons-five" hue="700" padding="small" verticalMargin="very-small">color="balloons-five" hue="700"</li>
          <li matThemeable color="balloons-five" hue="800" padding="small" verticalMargin="very-small">color="balloons-five" hue="800"</li>
          <li matThemeable color="balloons-five" hue="900" padding="small" verticalMargin="very-small">color="balloons-five" hue="900"</li>
          <li matThemeable color="balloons-five" hue="A100" padding="small" verticalMargin="very-small">color="balloons-five" hue="A100"</li>
          <li matThemeable color="balloons-five" hue="A200" padding="small" verticalMargin="very-small">color="balloons-five" hue="A200"</li>
          <li matThemeable color="balloons-five" hue="A400" padding="small" verticalMargin="very-small">color="balloons-five" hue="A400"</li>
          <li matThemeable color="balloons-five" hue="A700" padding="small" verticalMargin="very-small">color="balloons-five" hue="A700"</li>
        </ul>
      </div>
    </div>
  </div>
</app-demo-section>
