/* For use in src/lib/core/theming/_palette.scss */
$balloons-one: (
  50 : #e1edf4,
  100 : #b3d1e4,
  200 : #81b3d3,
  300 : #4f95c1,
  400 : #297eb3,
  500 : #0367a6,
  600 : #035f9e,
  700 : #025495,
  800 : #024a8b,
  900 : #01397b,
  A100 : #a8c9ff,
  A200 : #75aaff,
  A400 : #428aff,
  A700 : #297aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$balloons-two: (
  50 : #eaeee1,
  100 : #cad5b3,
  200 : #a7b981,
  300 : #849d4e,
  400 : #698828,
  500 : #4f7302,
  600 : #486b02,
  700 : #3f6001,
  800 : #365601,
  900 : #264301,
  A100 : #b7ff78,
  A200 : #9cff45,
  A400 : #81ff12,
  A700 : #74f700,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$balloons-three: (
  50 : #fdf6e1,
  100 : #fbe9b4,
  200 : #f9db82,
  300 : #f6cd50,
  400 : #f4c22b,
  500 : #f2b705,
  600 : #f0b004,
  700 : #eea704,
  800 : #ec9f03,
  900 : #e89001,
  A100 : #ffffff,
  A200 : #fff0dc,
  A400 : #ffdaa9,
  A700 : #ffcf90,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$balloons-four: (
  50 : #fdeee1,
  100 : #fbd5b4,
  200 : #f9ba82,
  300 : #f69e50,
  400 : #f4892b,
  500 : #f27405,
  600 : #f06c04,
  700 : #ee6104,
  800 : #ec5703,
  900 : #e84401,
  A100 : #ffffff,
  A200 : #ffe4dc,
  A400 : #ffbda9,
  A700 : #ffa990,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$balloons-five: (
  50 : #f4e5e2,
  100 : #e4bfb6,
  200 : #d39486,
  300 : #c16956,
  400 : #b34931,
  500 : #a6290d,
  600 : #9e240b,
  700 : #951f09,
  800 : #8b1907,
  900 : #7b0f03,
  A100 : #ffada8,
  A200 : #ff7d75,
  A400 : #ff4d42,
  A700 : #ff3529,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
